@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  box-sizing: border-box;
  position: fixed;
}


@layer base {
  body {
    @apply font-sans text-base
  }

  .font-outline-2 {
    -webkit-text-stroke: 0.5px rgb(254, 158, 14);
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
  /* .bg-pink-gradient {
    @apply bg-gradient-to-r from-fuchsia-500 to-pink-500
  } */
}

.gradient-text_orange {
  background-image: linear-gradient(to top, #f3ec78, #af4261);
  background-clip: text;
  -webkit-background-clip: text;
  /* Safari and older Chrome */
  color: transparent;
  font-size: 3em;
  /* Adjust font size as needed */
}

.gradient-text_pink {
  background-image: linear-gradient(to top, #ff0080, #7928ca);
  background-clip: text;
  -webkit-background-clip: text;
  /* Safari and older Chrome */
  color: transparent;
  font-size: 3em;
  /* Adjust font size as needed */
}

hr {
  height: 0;
  border-top-width: 0px;
  background: #ff008d;
}