@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  box-sizing: border-box;
  position: fixed;
}

.min-h-50-screen {
  min-height: 50vh;
}

@layer base {
  body {
    @apply font-sans text-base;
  }

  .font-outline-2 {
    -webkit-text-stroke: 0.5px rgb(254, 158, 14);
  }

  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }

  /* .bg-pink-gradient {
    @apply bg-gradient-to-r from-fuchsia-500 to-pink-500
  } */
}

.gradient-text_orange {
  background-image: linear-gradient(to top, #f3ec78, #af4261);
  background-clip: text;
  -webkit-background-clip: text;
  /* Safari and older Chrome */
  color: transparent;
  font-size: 3em;
  /* Adjust font size as needed */
}

.gradient-text_pink {
  background-image: linear-gradient(to top, #ff0080, #7928ca);
  background-clip: text;
  -webkit-background-clip: text;
  /* Safari and older Chrome */
  color: transparent;
  font-size: 3em;
  /* Adjust font size as needed */
}

hr {
  height: 0;
  border-top-width: 0px;
  background: #ff008d;
}

.ease-soft-in-out {
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1) !important;
}

.bg-blueover-gradient {
  background-size: 100% 100%;
  background-position:
    0px 0px,
    0px 0px;
  background-image: linear-gradient(122deg, rgb(0 0 0 / 0%) 49%, rgb(130 35 200) 100%),
    linear-gradient(36deg, rgb(0 0 0 / 0%) 49%, rgb(230 70 156) 100%);
}

.bg-purple-gradient {
  background-size: 100% 100%;
  background-position:
    0px 0px,
    0px 0px;
  background-image: linear-gradient(260deg, rgba(0, 0, 0, 0) 87%, rgb(209 130 238 / 49%) 100%);
}

.loader_container {
  width: 80px;
  height: 100px;
  margin: 100px auto;
  /* margin-top: calc(100vh / 2 - 50px); */
}

.loader_block {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 10px 10px 0;
  width: 12px;
  height: 12px;
  border-radius: 3px;
}

.loader_block:nth-child(4n+1) { animation: wave 2s ease .0s infinite; }
.loader_block:nth-child(4n+2) { animation: wave 2s ease .2s infinite; }
.loader_block:nth-child(4n+3) { animation: wave 2s ease .4s infinite; }
.loader_block:nth-child(4n+4) { animation: wave 2s ease .6s infinite; margin-right: 0; }

@keyframes wave {
  0%   { top: 0;     opacity: 1; }
  50%  { top: 30px;  opacity: .2; }
  100% { top: 0;     opacity: 1; }
}
